*{
    padding: 0;
    margin: 0;
}
section{
    width: 100%;
    display: grid;
    grid-template-columns: 13% auto;
    background-color: #272E49;
    min-height: 100vh;
}
h1{
    border: solid transparent 1rem;
    color: white;
    font-family: "Karantina", system-ui;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
}
.container-home{
    display: grid;
    gap: 2rem ;
    grid-template-rows: 10% auto;
}
header{
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 100%;
    grid-template-columns: 50% 10%;
}
main{
    display: grid;
    justify-content: center;
    gap: 5rem;
    grid-template-rows: 25%;
}
.container-logo{
    background-image: url(./img/foto-logo.png);
    background-repeat: no-repeat;
    background-size: cover; 
    width: 70vw;
    display: grid;
    align-items: center;
    border-radius: 20px;
    height: 16vw;
    
}
.container-logo-text{
    font-size: 10rem;
    padding: 2rem;
}

.filter{
    text-align: center;
    height: 100%;
    background-color: #505F98;
}

.filmes-cards{
    color: white;
}
.cards-img{
    width: 8vw;
    height: 23vh;
    border-radius: 20px;
}
.container-filmes{
    display:grid;
    justify-content: center ;
    gap: 5rem;
    grid-template-columns: auto auto auto auto auto auto;
}